.color-white {
    color : #ffffff;
}

body {
    background: #000000;
    padding: 30px;
}

.card-body {
    background: whitesmoke;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.center-btn {
    text-align: center;
}

.right-text {
    float: right;
    margin-top: 5px;
}

.mg-t-5{
    margin-top: 5px;
}

.mg-t-30{
    margin-top: 30px;
}

.color-red {
    color: red;
}

.color-green {
    color: #1c7430;
}

.color-blue {
    color: #1960af;
}

.color-flowerblue-blue{
    color: cornflowerblue;
}

.color-black {
    color: #1d2124;
}

.pd-15 {
    padding: 15px;
}

.modal-dinamic{
    z-index: 10;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    margin: -30px;
}

.modal-content{
    background-color: white;
    padding: 30px;
    width: 30%;
    margin: auto;
    margin-top: 10%;
}